:root{
    --white: #ffffff;
    --differentwhite: #eaeaea;
    --dirtyblue: #8ba0a4;
    --dirtylightblue: #1b4552;
    --dirtydarkblue: #183e4b;
    --red: #d74a49;

    --Text: FreeMono;
}

.login_form, .registration_complete{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    align-items: center;
    width: 350px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0 0px 20px #00000027;
    font-family: var(--Text);
    letter-spacing: 1px;
    background-color: var(--white);
    backdrop-filter: blur(20px);
}

.form_mark{
    position: absolute;
    top: 0;
    z-index: -1;
    color: #000000;
    transition: 0.3s;
}

.form_button,
.form_reg{
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    padding: 8px;
    border-radius: 20px;
}

.form_button:focus,
.form_button:hover{
    background-color: rgba(0, 113, 240, 0.7);
}

.form_button{
    background-color: #000000;
    color:  #ffffff;
}

.form_reg{
    margin-top: 15px;
    border-style: none;
    background-color: transparent;
    color: #000000;
    outline: none;
    text-decoration: none;
}

.form_title, .Error{
    text-align: center;
    margin: 0 0 32px 0;
    font-weight: normal;
    color: #000000;
}

.form_group{
    position: relative;
    margin-bottom: 32px;
}

.form_input{
    width: 100%;
    padding: 0 0 0 10px;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
}

.form_input:focus{
    border-bottom:  1px solid var(--dirtyblue);
}

.form_input:focus ~ .form_mark,
.form_input:not(:placeholder-shown)~ .form_mark{
    top: -18px;
    font-size: 12px;
    color: var(--dirtyblue);
}


